# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Build directories
build/
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/
.cursor/

# MacOS files
.DS_Store

# Other
*.bak
*.tmp 